<link rel="stylesheet" type="text/css" media="all" href="{% get_static_prefix %}404page/css/404.css"/>
<div id="main">
  <div class="fof">
   		<h1>Error 404</h1>
     	  <p> 
     		<button class="button" onclick="window.location.href='/base.html';">Head back</button> 
       	  </p>
  	</div>
</div> 